.nav {
    background-color: #f9f9fa;
    padding: 20px 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: solid 1px rgba(0, 0, 0, 0.2);

}

.nav_list {
    display: flex;
    justify-content: space-between;

}

.nav_btn {
    color: rgba(0, 0, 0, 0.7);
    position: relative;
}

.nav_notification {
    left: 11px;
    bottom: 15px;
    position: absolute;
}

.nav-ellipsis_dot {
    top: 2px;
    left: 30px;
}