.setting_header {
    display: flex;
    justify-content: center;
    padding: 50px 25px 20px 25px;
    align-items: center;
    margin-bottom: 0px;
}

.setting_header_column {
    font-size: 23px;
    font-weight: 600;
}

.setting_header_column:first-child {
    margin-right: auto;
    font-size: 38px;
}

.setting_header_column:nth-child(2) {
    text-align: center;
}

.setting_header_column:last-child {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;

}

.setting_list_setting {
    display: flex;
    align-items: center;
    font-size: 23px;
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.setting_list_setting i {
    color: rgba(0, 0, 0, 0.8);
    margin-right: 25px;
}

.setting_list_setting.last {

    justify-content: space-between;
    border-bottom: none;
}

.setting_list_setting.last i {
    margin-right: 15px;
}

.setting_list_setting.last2 i {
    margin-right: 20px;

}

.setting_list_setting.last2 {
    display: flex;
    justify-content: space-between;
}

.setting_last-child_last {
    color: var(--kakao_gray);
}

.setting_list:last-child {
    margin-top: 25px;
}

.setting_list_setting .fa-circle-plus {
    color: tomato;
}

.rowline {
    width: 100%;
    height: 1px;
    background-color: var(--line_color);
}

.setting_header_column {
    width: 33%;
}

.setting_header_column span:last-child {
    margin-left: 20px;
}